<main class="screen">
  <% @offices.each do |office| %>
    <a class="office-link-wrapper panel-link-wrapper" href="<%= office_path(office) %>">
      <section class="panel">
        <header class="panel-header">
          <h2 class="panel-title"><%= office[:municipality] %>, <%= office[:country] %></h2>
          <p class="panel-subtitle"><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
        </header>
        <div class="weather-summary">
          <p class="office-weather-desc">Raining</p>
          <p class="office-weather-temp">7°c</p>
        </div>
        <nav class="office-panel-controls panel-controls">
          <p class="office-panel-controls-linkto">View details --></p>
        </nav>
      </section>
    </a>
  <% end %>
</main>
