<main class="screen">
    <section class="panel">
        <nav class="office-panel-controls panel-controls">
            <a class="office-panel-controls-linkto" href="/">&#8592; back to offices</a>
        </nav>
        <header class="panel-header">
            <h2 class="panel-title">
                <%= @office[:municipality] %>, <%= @office[:country] %>
            </h2>
            <p class="office-localtime panel-subtitle"><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th
                    December</time></p>
        </header>
        <div class="panel-content weather-summary">
            <p class="office-weather-desc">Raining</p>
            <p class="office-weather-temp">7°c</p>
        </div>
    </section>

    <section class="panel">
        <header class="panel-header">
            <h2 class="panel-title">Four-day forecast</h2>
        </header>
        <tab-interface>
            <button slot="tab"><time datetime="2023-12-11T15:51:04Z" is="relative-day">Today</time></button>
            <div slot="tabpanel">
                <ul role="list">
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Thursday, 7th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                </ul>
            </div>
            <button slot="tab"><time datetime="2023-12-12T15:51:04Z" is="relative-day">Tomorrow</time></button>
            <div slot="tabpanel">
                <ul role="list">
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Friday, 8th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                </ul>
            </div>
            <button slot="tab"><time datetime="2023-12-13T15:51:04Z" is="relative-day">Wednesday</time></button>
            <div slot="tabpanel">
                <ul role="list">
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Saturday, 9th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                </ul>
            </div>
            <button slot="tab"><time datetime="2023-12-14T15:51:04Z" is="relative-day">Thursday</time></button>
            <div slot="tabpanel">
                <ul role="list">
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                    <li>
                        <p><time datetime="2023-12-07T15:51:04Z">15:51 Sunday, 10th December</time></p>
                        <p><span>Raining</span>, <data>7°c</data></p>
                    </li>
                </ul>
            </div>
        </tab-interface>
    </section>
</main>
