<section style="padding-bottom: 2rem;">
  <h2>Weather in Newcastle, UK</h2>
  <p><%= @newcastle_weather[:data] %></p>
</section>
<section style="padding-bottom: 2rem;">
  <h2>Weather in Vancouver, Canada</h2>
  <p><%= @vancouver_weather[:data] %></p>
</section>
<section style="padding-bottom: 2rem;">
  <h2>Weather in S<sup>t</sup> Julian's, Malta</h2>
  <p><%= @st_julians_weather[:data] %></p>
</section>

