<section>
  <h2>Current Weather in Newcastle, UK</h2>
  <p><%= @newcastle_weather %></p>
</section>
<section>
  <h2>Current Weather in Vancouver, Canada</h2>
  <p><%= @vancouver_weather %></p>
</section>
<section>
  <h2>Current Weather in S<sup>t</sup> Julian's, Malta</h2>
  <p><%= @st_julians_weather %></p>
</section>

